.page-user-search {
    a {
        text-decoration: none ;
    }
    a:hover {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        width: 30%;
        padding: 0;
        display: block;
        position: absolute;
    }

    li a h3 {
        font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        color: black;
    }

    li a img {
        float: left;
        margin: 0 10px 0 0;
        height: 40%;
        border-radius: 50%;
        width: 40%;
        text-decoration: none !important;
    }

    li p {
        font: 100 12px/1.5 Georgia, Times New Roman, serif;
    }

    li {
        padding: 10px;
        overflow: auto;
    }

    li:hover {
        background: #eee;
        cursor: pointer;
    }

    li:focus {
        background: #eee;
        cursor: pointer;
    }

    h1 {
        color: #111;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -1px;
        line-height: 1;
    }

    input[type="text"] {
        font-family: 'Helvetica Neue', sans-serif;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        margin: 0 30px 0 0 ;
        outline: 0;
        padding: 7px;
        width: 30%;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        background-color: #e8eeef;
        color:#8a97a0;
        -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    }

    input[type="text"]:focus {
        border: solid 1px #707070;
        background: #d2d9dd;
        box-shadow: 0 0 5px 1px #969696;
    }
}
